<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <support_reply>
            <admin_reply_notification>
                <enabled>0</enabled>
                <email_identity>support</email_identity>
                <email_template></email_template>
            </admin_reply_notification>
        </support_reply>
    </default>
    <default>
        <support_reply>
            <admin_edit_notification>
                <enabled>0</enabled>
                <email_identity>support</email_identity>
                <email_template></email_template>
            </admin_edit_notification>
        </support_reply>
    </default>
    <default>
        <support_reply>
            <customer_new_ticket_notification>
                <enabled>0</enabled>
                <email_identity>support</email_identity>
                <email_template></email_template>
            </customer_new_ticket_notification>
        </support_reply>
    </default>
    <default>
        <support_reply>
            <customer_reply_notification>
                <enabled>0</enabled>
                <recipient_email>
                    <![CDATA[hello@example.com]]>
                </recipient_email>
                <email_identity>support</email_identity>
                <email_template></email_template>
            </customer_reply_notification>
        </support_reply>
    </default>
</config>